<div class="login-container">
  <img class="login-image" src="/assets/imageLogin.jpg" alt="Login Image"/>
  <div class="login-box">
    <h1>Login</h1>

    <div class="tabs">
      <button class="tab" [class.active]="activeTab === 'utente'" (click)="setActiveTab('utente')">
        Utente
      </button>
      <button class="tab" [class.active]="activeTab === 'azienda'" (click)="setActiveTab('azienda')">
        Azienda/Partner
      </button>
    </div>

    <form class="login-form" *ngIf="activeTab === 'utente'" (ngSubmit)="handleUtenteSubmit()">
      <div class="form-group">
        <label for="utente-email">Email</label>
        <input
          id="utente-email"
          type="email"
          placeholder="you@example.com"
          [(ngModel)]="utenteEmail"
          name="utenteEmail"
          required
        />
      </div>
      <div class="form-group">
        <label for="utente-password">Password</label>
        <div class="password-input">
          <input
            id="utente-password"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="utentePassword"
            name="utentePassword"
            required
          />
          <button type="button" (click)="togglePasswordVisibility()">
            <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
          </button>
        </div>
      </div>
      <button type="submit" class="submit-button">
        Login
      </button>
      <p class="register-link">
        Non hai un account? <a routerLink="/auth/register">Clicca qui per registrarti</a>
      </p>
    </form>

    <form class="login-form" *ngIf="activeTab === 'azienda'" (ngSubmit)="handleAziendaSubmit()">
      <div class="form-group">
        <label for="azienda-email">Email</label>
        <input
          id="azienda-email"
          type="email"
          placeholder="company@example.com"
          [(ngModel)]="aziendaEmail"
          name="aziendaEmail"
          required
        />
      </div>
      <div class="form-group">
        <label for="azienda-password">Password</label>
        <div class="password-input">
          <input
            id="azienda-password"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="aziendaPassword"
            name="aziendaPassword"
            required
          />
          <button type="button" (click)="togglePasswordVisibility()">
            <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
          </button>
        </div>
      </div>
      <button type="submit" class="submit-button">
        Login
      </button>
      <p class="register-link">
        Vuoi diventare partner? <a routerLink="/auth/register">Clicca qui per registrare la tua attività</a>, oppure <a
        routerLink="/">torna alla home</a>
      </p>
    </form>
    <div class="login-error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
