<div class="step-1-container">
  <img class="background-image" src="/assets/registerImage.jpg" alt="Register Image"/>

  <!--wizard section-->
  <section class="wizard-nav">
    <div class="wizard-nav-container" [attr.data-user-choice]="userChoice">
      <div class="wizard-nav-item" [ngClass]="{'active': currentStep >= 1}"
           *ngIf="userChoice !== 'user' || (userChoice === 'user' && [1, 2, 5].includes(1))">
        <div class="wizard-nav-item-circle">1</div>
        <p>Crea Utente</p>
      </div>
      <div class="wizard-nav-item" [ngClass]="{'active': currentStep >= 2}"
           *ngIf="userChoice !== 'user' || (userChoice === 'user' && [1, 2, 5].includes(2))">
        <div class="wizard-nav-item-circle">2</div>
        <p>Conferma Nuovo Account</p>
      </div>
      <div class="wizard-nav-item" [ngClass]="{'active': currentStep >= 3}" *ngIf="userChoice !== 'user'">
        <div class="wizard-nav-item-circle">3</div>
        <p>Registra Azienda</p>
      </div>
      <div class="wizard-nav-item" [ngClass]="{'active': currentStep >= 4}" *ngIf="userChoice !== 'user'">
        <div class="wizard-nav-item-circle">4</div>
        <p>Cambia Password</p>
      </div>
      <div class="wizard-nav-item" [ngClass]="{'active': currentStep >= (userChoice === 'user' ? 3 : 5)}"
           *ngIf="userChoice !== 'user' || (userChoice === 'user' && [1, 2, 5].includes(5))">
        <div class="wizard-nav-item-circle">{{ userChoice === 'user' ? 3 : 5 }}</div>
        <p>Registrazione Completata</p>
      </div>
    </div>
  </section>

  <!--User Register Form Section-->
  <section class="register-container">
    <div class="register-box">
      <h1>Crea Account Utente</h1>

      <form class="register-form" (ngSubmit)="handleUserSubmit()">
        <div class="form-group">
          <label for="utente-nome">Nome</label>
          <input
            id="utente-nome"
            type="text"
            placeholder="Mario"
            [(ngModel)]="userFirstName"
            name="utenteNome"
            required
          />
        </div>
        <div class="form-group">
          <label for="utente-cognome">Cognome</label>
          <input
            id="utente-cognome"
            type="text"
            placeholder="Rossi"
            [(ngModel)]="userLastName"
            name="utenteCognome"
            required
          />
        </div>
        <div class="form-group">
          <label for="utente-email">Email</label>
          <input
            id="utente-email"
            type="email"
            placeholder="you@example.com"
            [(ngModel)]="userEmail"
            name="utenteEmail"
            required
          />
        </div>
        <div class="form-group">
          <label for="utente-password">Password</label>
          <div class="password-input">
            <input
              id="utente-password"
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="userPassword"
              name="utentePassword"
              required
            />
            <button type="button" (click)="togglePasswordVisibility()">
              <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
            </button>
          </div>
        </div>
        <button type="submit" class="submit-button">
          Registrati
        </button>
      </form>

      <div class="register-error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </section>
</div>
