<footer class="footer">
    <div class="footerContainer">
      <div class="footerAbout">
        <h3>Varese Developer Group</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada.
        </p>
      </div>
  
      <div class="footerLinks">
        <h4>Link Utili</h4>
        <ul>
          <li><a>Home</a></li>
          <li><a>Eventi</a></li>
          <li><a>Prenota</a></li>
          <li><a>Aziende Partner</a></li>
          <li><a>Contatti</a></li>
        </ul>
      </div>
  
      <div class="footerSocial">
        <h4>Seguici</h4>
        <div class="socialIcons">
          <a><img src="https://cdn-icons-png.freepik.com/256/5968/5968764.png?semt=ais_hybrid" alt="Facebook"></a>
          <a><img src="https://cdn.pixabay.com/photo/2021/06/15/12/17/instagram-6338401_1280.png" alt="Instagram"></a>
          <a><img src="https://png.pngtree.com/png-clipart/20230916/original/pngtree-twitter-social-platform-icon-vector-png-image_12256688.png" alt="Twitter"></a>
        </div>
      </div>
    </div>
  
    <div class="footerBottom">
      <p>&copy; 2025 Varese Developer Group. Tutti i diritti riservati.</p>
    </div>
  </footer>
  