<div class="event-page">
  <main class="main-container">
    <div class="event-header">
      <div class="image-wrapper">
        <img [src]="'img/code_cheers.png'" class="event-image" />
        <div class="event-overlay">
          <h1 class="event-title">{{ eventData.title }}</h1>
          <div class="host-info">
            <fa-icon [icon]="faUser" class="icon"></fa-icon>
            <span>Ospitato da {{ eventData.host }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="details-container">
      <div class="details-grid">
        <div class="details-column">
          <div class="detail-item">
            <fa-icon [icon]="faCalendarDays" class="icon text-primary"></fa-icon>
            <div>
              <div class="detail-label">Data e Ora</div>
              <div>Inizio: {{ formatDate(eventData.startDate) }}</div>
              <div>Fine: {{ formatDate(eventData.endDate) }}</div>
            </div>
          </div>
          <div class="detail-item">
            <fa-icon [icon]="faMapPin" class="icon text-primary"></fa-icon>
            <div>
              <div class="detail-label">Luogo</div>
              <div>{{ eventData.place }}</div>
            </div>
          </div>
          <div class="detail-item">
            <fa-icon [icon]="faUsers" class="icon text-primary"></fa-icon>
            <div>
              <div class="detail-label">Partecipanti</div>
              <div>{{ eventData.registeredParticipants }} / {{ eventData.maxParticipants }}</div>
            </div>
          </div>
          <div class="detail-item">
            <fa-icon [icon]="faTicket" class="icon text-primary"></fa-icon>
            <div>
              <div class="detail-label">Tipo di Evento</div>
              <div>{{ eventData.eventSubscription }}</div>
            </div>
          </div>
        </div>
        <div class="topics-column">
          <div class="topics-container">
            <h3>Argomenti</h3>
            <ul>
              <li *ngFor="let topic of eventData.topics">{{ topic }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="about-container">
      <h2>Informazioni sull'evento</h2>
      <p>
        Unisciti a noi per un evento emozionante che riunisce leader del settore e innovatori. Scopri le ultime tendenze,
        fai networking con professionisti e ottieni preziose informazioni sul futuro della tecnologia.
      </p>
      <button class="register-button">Iscriviti ora</button>
    </div>
  </main>
</div>
