<div class="event-page">
  <ng-container *ngIf="eventData || errorMessage; else loading">

    <!-- Error message -->
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>

    <!-- Event details -->
    <ng-container *ngIf="eventData">

      <div class="event-header">
        <!-- Image Wrapper con overlay -->
        <div class="image-wrapper">
          <img [src]="eventData.image || 'img/code_cheers.png'" class="event-image" alt="eventImage" />
        </div>

        <!-- Details Container spostato accanto all'immagine -->
        <div class="details-container">
          <h1 class="event-title2">{{ eventData.title || 'Titolo non disponibile' }}</h1>
          <div class="host-info2">
            <fa-icon [icon]="faUser" class="icon"></fa-icon>
            <span>Ospitato da {{ eventData.host || 'Ospite non disponibile' }}</span>
          </div>
          <div class="details">
            <div class="detail-item">
              <fa-icon [icon]="faCalendarDays" class="icon text-primary"></fa-icon>
              <div>
                <div>{{ formatDateRange(eventData.startDate, eventData.endDate) }}</div>
              </div>
            </div>

            <div class="detail-item">
              <fa-icon [icon]="faMapPin" class="icon text-primary"></fa-icon>
              <div>
                <div>{{ eventData.place || 'Luogo non disponibile' }}</div>
              </div>
            </div>

            <div class="detail-item">
              <fa-icon [icon]="faUsers" class="icon text-primary"></fa-icon>
              <div>
                <div>{{ eventData.registeredParticipants }} / {{ formatMaxParticipants(eventData.maxParticipants)
                  }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="about-container">
        <div>
          <h2>Informazioni sull'evento</h2>

          <p *ngIf="eventData.description; else defaultDescription">
            {{ eventData.description }}
          </p>
          <ng-template #defaultDescription>
            <p>
              Unisciti a noi per un evento emozionante che riunisce leader del settore e innovatori. Scopri le ultime
              tendenze, fai networking con professionisti e ottieni preziose informazioni sul futuro della tecnologia.
            </p>
          </ng-template>
          <button class="register-button" (click)="showBookingDialog()">Iscriviti ora</button>
        </div>

        <div class="list-container">
          <div class="list-item">
            <h3>Argomenti</h3>
            <ul>
              <li *ngFor="let topic of eventData.topics || []">{{ topic }}</li>
            </ul>
            <p *ngIf="!(eventData.topics && eventData.topics.length)">Nessun argomento disponibile</p>
          </div>

          <div class="list-item">
            <h3>Speaker</h3>
            <ul>
              <li *ngFor="let speaker of eventData.speakers || []">{{ speaker }}</li>
            </ul>
            <p *ngIf="!(eventData.speakers && eventData.speakers.length)">Ancora nessuno speaker</p>
          </div>
        </div>
      </div>

    </ng-container>
  </ng-container>

  <!-- Loading message -->
  <ng-template #loading>
    <p class="loading-message">Caricamento in corso...</p>
  </ng-template>
</div>