.container {
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

div {
  margin-bottom: 0.5rem; /* Reduced space between inputs */
  margin-top: 0.5rem; /* Reduced space between inputs */
}

label {
  font-weight: 400;
  line-height: 1.5;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  padding: 0.2rem;
  background-color: #c61b1b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  align-self: center;
  width: 27%;
}

button:hover {
  background-color: #8b0707;
  transform: transform(-2px);
}

.topics-list,
.emails-list {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.topic-tag,
.email-tag {
  display: flex;
  align-items: center;
  background-color: #c61b1b;
  color: #fff;
  padding: 0.25rem 0.25rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}

.delete-topic,
.delete-email {
  color: #fff;
  margin-left: 0.5rem;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  width: 1rem;
  height: 1rem;
  border-radius: 8px;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  padding: 1rem;
  border-radius: 8px;
}

.date-container,
.email-topic-container {
  display: flex;
  gap: 20px;
}

.price-input {
  width: 50%;
  box-sizing: border-box;
}
.price-input {
  width: 20%;
  box-sizing: border-box;
  margin-left: 10px;
}
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


/* Responsive styles for tablets (768px to 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    width: 70%;
    padding: 1.5rem;
  }

  button {
    width: 50%;
    font-size: 1.2rem; /* Increased font size for buttons */
  }

  label {
    font-size: 1.2rem; /* Increased font size for labels */
  }

  input,
  textarea,
  select {
    font-size: 1.2rem; /* Increased font size for inputs */
  }
}

/* Responsive styles for smartphones (767px and below) */
@media (max-width: 767px) {
  .container {
    width: 90%;
    padding: 1rem;
  }

  button {
    width: 70%;
    font-size: 1.2rem; /* Increased font size for buttons */
  }

  .date-container,
  .email-topic-container {
    flex-direction: column;
  }

  .price-input {
    width: 100%;
  }

  label {
    font-size: 1.2rem; /* Increased font size for labels */
  }

  input,
  textarea,
  select {
    font-size: 1.2rem; /* Increased font size for inputs */
  }
}