<div *ngIf="speaker; else notFound">
    <div class="speaker-page">
        <div class="speaker-info">
            <div class="speaker-details">
                <h2>{{ speaker.firstName }} {{ speaker.lastName }}</h2>
                <h4 class="subtitle">{{ speaker.role }}</h4>
                <p class="email">Email: {{ speaker.email }}</p>
                <button class="btn" (click)="goBack()">Torna indietro</button>
            </div>
            <img src="img/speaker.jpg" alt="{{ speaker.firstName }}" class="speaker-image" />
        </div>
    </div>
</div>

<!-- Prossimi Eventi in cui Partecipo -->
<h2>Prossimi Eventi in cui Partecipo</h2>
<div class="events-list">
    <div class="event-card2" *ngFor="let event of eventsAsSpeaker">
        <div class="event-image">
            <img [src]="image" alt="{{ event.title }}">
        </div>
        <div class="event-info">
            <h2>{{ event.title }}</h2>
            <!-- Formattazione della data -->
            <p><strong>📅 Data:</strong> {{ event.startDate | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p><strong>📍 Luogo:</strong> {{ event.place }}</p>
            <p class="description">{{ event.description }}</p>
        </div>
    </div>
</div>

<ng-template #notFound>
    <p>Relatore non trovato.</p>
</ng-template>