<div class="speaker-container" *ngIf="speaker; else speakerNotFound">
  <div class="speaker-card">
    <h1 class="speaker-card-title">{{ speaker.firstName }} {{ speaker.lastName }}</h1>
    <div class="speaker-card-content">
      <div class="speaker-card-contacts">
        <h2 class="section-title">Contatti</h2>
        <p class="contact-email">Email: {{ speaker.email }}</p>
        <div class="social-icons">
          <fa-icon [icon]="faLinkedin" size="2xl" class="social-icon"></fa-icon>
          <fa-icon [icon]="faInstagram" size="2xl" class="social-icon"></fa-icon>
          <fa-icon [icon]="faFacebook" size="2xl" class="social-icon"></fa-icon>
        </div>
      </div>
    </div>
    <img src="img/speaker.jpg" alt="{{ speaker.firstName }}" class="speaker-image"/>
  </div>

  <h2 class="event-section-title" *ngIf="eventsAsSpeaker.length > 0; else speakerEventsNotFound">Dove e quando trovarmi</h2>
  <div class="speaker-event-grid">
    <div class="speaker-event-card" *ngFor="let event of eventsAsSpeaker">
      <img [src]="image" alt="{{ event.title }}" class="event-image">
      <div class="event-card-content">
        <h3 class="card-title">{{ event.title }}</h3>
        <p class="event-date">{{ event.startDate | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p class="event-place">{{ event.place }}</p>
        <p class="event-description">{{ event.description }}</p>
      </div>
    </div>
  </div>
  <ng-template #speakerEventsNotFound>
    <p>Non ci sono eventi in programma.</p>
  </ng-template>

</div>

<ng-template #speakerNotFound>
  <p>Relatore non trovato.</p>
</ng-template>
