<header class="mainHeader">
  <div class="logo">
    <h1 class="full-logo">Varese Developer Group</h1>
    <h1 class="short-logo">VDG</h1>
  </div>
  <!-- Navigazione -->
  <nav class="navigation" [ngClass]="{ 'active': isMenuOpen }">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/events">Eventi</a></li>
      <li><a routerLink="/booking">Prenotazione</a></li>
      <li><a routerLink="/partner-companies">Aziende Partner</a></li>
      <li><a routerLink="/user-area">Area Utente</a></li>
      <li><a routerLink="/contact">Contatti</a></li>
    </ul>
  </nav>

  <div class="header-right">
    <!-- Pulsante Accedi -->
    <button routerLink="/auth/login" class="login-btn">Accedi</button>

    <!-- Pulsante Menu Hamburger -->
    <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
      ☰
    </button>
  </div>

</header>
