<header class="mainHeader">
    <div class="logo">
      <h1>Varese Developer Group</h1>
    </div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/events">Eventi</a></li>
        <li><a routerLink="/booking">Prenotazione</a></li>
        <li><a routerLink="/partner-companies">Aziende Partner</a></li>
        <li><a routerLink="/user-area">Area Utente</a></li>
        <li><a routerLink="/contact">Contatti</a></li>
      </ul>
    </nav>
  </header>
  
