<header class="mainHeader">
  <div class="logo">
    <h1 class="full-logo">Varese Developer Group</h1>
    <h1 class="short-logo">VDG</h1>
  </div>

  <nav class="navigation" [ngClass]="{ 'active': isMenuOpen }">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/events">Eventi</a></li>
      <li><a routerLink="/partner-companies">Aziende Partner</a></li>
      <li><a routerLink="/all-speaker">Relatori</a></li>
      <li><a routerLink="/contact">Contatti</a></li>
    </ul>
  </nav>

  <div class="header-right">
    <div class="icons-wrapper">
      <!-- Speaker inbox icon -->
      <ng-container *ngIf="isSpeaker">
        <a (click)="openSpeakerModal()" class="profile-icon fa-2x inbox-icon-btn">
          <fa-icon [icon]="faInboxSolid" (mouseenter)="isHoveredInbox = true" (mouseleave)="isHoveredInbox = false"
            [ngStyle]="{ color: isHoveredInbox ? '#9b1b1b' : '#ce2424' }">
          </fa-icon>
          <span *ngIf="hasPendingRequests" class="notification-dot"></span>
        </a>
      </ng-container>

      <!-- Admin inbox icon -->
      <ng-container *ngIf="isAdmin">
        <a (click)="openAdminModal()" class="profile-icon fa-2x inbox-icon-btn">
          <fa-icon [icon]="faInboxSolid" (mouseenter)="isHoveredAdminInbox = true" (mouseleave)="isHoveredAdminInbox = false"
            [ngStyle]="{ color: isHoveredAdminInbox ? '#1b6f9b' : '#2447ce' }">
          </fa-icon>
          <span *ngIf="hasUnreadNotifications" class="notification-dot"></span>
        </a>
      </ng-container>

      <!-- User / Host icon -->
      <ng-container *ngIf="user; else loginBtn">
        <a [routerLink]="isHost ? ['/partner-companies', user.id] : '/user-area'">
          <fa-icon [icon]="
    isHoveredUser
      ? (isHost ? faHandshakeSolid : faUserSolid)
      : (isHost ? faHandshakeRegular : faUserRegular)"
                   (mouseenter)="isHoveredUser = true" (mouseleave)="isHoveredUser = false"
                   class="profile-icon fa-2x">
          </fa-icon>
        </a>
      </ng-container>
    </div>

    <!-- Login button for non-logged-in users -->
    <ng-template #loginBtn>
      <button routerLink="/auth/login" class="login-btn">Accedi</button>
    </ng-template>

    <!-- Hamburger Menu Toggle -->
    <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
      ☰
    </button>
  </div>


  <!-- Modal component for speaker requests -->
  <app-speaker-request-modal [show]="showSpeakerModal" (closeModal)="closeSpeakerModal()"></app-speaker-request-modal>
  <!-- Modal component for admin notifications (you can create this similar to speaker modal) -->
  <app-admin-notification-modal [show]="showAdminModal" (closeModal)="closeAdminModal()"></app-admin-notification-modal>

</header>

