<div class="user-container">
  <!-- Immagine di copertina full-width -->
  <div class="user-banner">
    <img class="banner-image" src="https://wallpapers.com/images/hd/banner-background-jcd538z62euhfpkx.jpg"
         alt="Cover Image">
  </div>

  <!-- Sezione profilo utente -->
  <div class="user-profile">
    <img class="user-avatar" [src]="avatar" alt="{{ user?.firstName }}">
    <h1 class="user-name">{{ user?.firstName }}</h1>
    <p class="user-role">{{ user?.role }}</p>
  </div>

  <!-- Menu di navigazione per user.role === 'USER' -->
  <div class="scrollable-tabs">

    <div class="user-menu" *ngIf="user?.role === 'USER'">
      <button [class.active]="selectedTab === 'bookedEvents'" (click)="setTab('bookedEvents')">Eventi Prenotati</button>
      <button [class.active]="selectedTab === 'pastEvents'" (click)="setTab('pastEvents')">Eventi Passati</button>
      <button [class.active]="selectedTab === 'myTickets'" (click)="setTab('myTickets')">I Miei Tickets</button>
      <button [class.active]="selectedTab === 'manageTopics'" (click)="setTab('manageTopics')">Topics Preferiti</button>
      <div class="settings-tab">
        <button [class.active]="selectedTab === 'settings'" (click)="setTab('settings')">Impostazioni</button>
        <span>
        <fa-icon [icon]="faCircleExclamation" *ngIf="user?.status === 'UNVERIFIED'"></fa-icon>
      </span>
      </div>
    </div>
  </div>

  <!-- Menu di navigazione per user.role === 'SPEAKER' -->
  <div class="scrollable-tabs">

    <div class="user-menu" *ngIf="user?.role === 'SPEAKER'">
      <button [class.active]="selectedTab === 'bookedEvents'" (click)="setTab('bookedEvents')">Eventi Prenotati</button>
      <button [class.active]="selectedTab === 'pastEvents'" (click)="setTab('pastEvents')">Eventi Passati</button>
      <button [class.active]="selectedTab === 'myTickets'" (click)="setTab('myTickets')">I Miei Tickets</button>
      <button [class.active]="selectedTab === 'myEventsAsSpeaker'" (click)="setTab('myEventsAsSpeaker')">Prossimi Eventi
        in cui Partecipo
      </button>
      <button [class.active]="selectedTab === 'manageTopics'" (click)="setTab('manageTopics')">Topics Preferiti</button>
      <div class="settings-tab">
        <button [class.active]="selectedTab === 'settings'" (click)="setTab('settings')">Impostazioni</button>
        <span>
        <fa-icon [icon]="faCircleExclamation" *ngIf="user?.status === 'UNVERIFIED'"></fa-icon>
      </span>
      </div>
    </div>
  </div>

  <!-- Menu di navigazione per user.role === 'ADMIN' -->
  <div class="scrollable-tabs">

    <div class="user-menu" *ngIf="user?.role === 'ADMIN'">
      <button [class.active]="selectedTab === 'bookedEvents'" (click)="setTab('bookedEvents')">Eventi Prenotati</button>
      <button [class.active]="selectedTab === 'pastEvents'" (click)="setTab('pastEvents')">Eventi Passati</button>
      <button [class.active]="selectedTab === 'myTickets'" (click)="setTab('myTickets')">I Miei Tickets</button>
      <button [class.active]="selectedTab === 'manageUsers'" (click)="setTab('manageUsers')">Gestisci Utenti</button>
      <button [class.active]="selectedTab === 'manageHosts'" (click)="setTab('manageHosts')">Gestisci Aziende/Partner
      </button>
      <button [class.active]="selectedTab === 'manageEvents'" (click)="setTab('manageEvents')">Gestisci Eventi</button>
      <button [class.active]="selectedTab === 'manageTopics'" (click)="setTab('manageTopics')">Gestisci Topics</button>
      <div class="settings-tab">
        <button [class.active]="selectedTab === 'settings'" (click)="setTab('settings')">Impostazioni</button>
        <span>
        <fa-icon [icon]="faCircleExclamation" *ngIf="user?.status === 'UNVERIFIED'"></fa-icon>
      </span>
      </div>
    </div>
  </div>


  <!-- Riga divisoria -->
  <div class="divider"></div>

  <!-- Contenuto dinamico -->
  <div class="user-content">

    <!-- Eventi Prenotati -->
    <div *ngIf="selectedTab === 'bookedEvents'">
      <h2>Eventi Prenotati</h2>
      <div class="events-list2">
        <div class="event-card" *ngFor="let event of user?.userDetails?.bookedEvents">
          <div class="event-image">
            <img [src]="image" alt="{{ event.title }}">
          </div>
          <div class="event-info">
            <h2>{{ event.title }}</h2>
            <p><strong>📅 Data:</strong> {{ event.startDate | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p><strong>📍 Luogo:</strong> {{ event.place }}</p>
            <p class="description">{{ event.description }}</p>
            <button class="revoke-button" (click)="openRevokeEventModal(event)">✖️ Annulla iscrizione</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Eventi Passati -->
    <div *ngIf="selectedTab === 'pastEvents'">
      <h2>Eventi Passati</h2>
      <div class="events-list">
        <div class="event-card" *ngFor="let event of user?.userDetails?.archivedEvents">
          <div class="event-image">
            <img [src]="image" alt="{{ event.title }}">
          </div>
          <div class="event-info">
            <h2>{{ event.title }}</h2>
            <p><strong>📅 Data:</strong> {{ event.startDate | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p><strong>📍 Luogo:</strong> {{ event.place }}</p>
            <p class="description">{{ event.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- I Miei Tickets -->
    <div *ngIf="selectedTab === 'myTickets'">
      <h2>I Miei Ticket</h2>
      <div class="events-list">
        <div class="event-card2" *ngFor="let eventTicket of user?.userDetails?.bookedEvents">
          <div class="event-image">
            <img [src]="image" alt="{{ eventTicket.title }}">
          </div>
          <div class="event-info">
            <h2>{{ eventTicket.title }}</h2>
            <p><strong>📅 Data:</strong> {{ eventTicket.startDate | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p><strong>📍 Luogo:</strong> {{ eventTicket.place }}</p>
            <p class="description">{{ eventTicket.description }}</p>
            <button class="download-button" (click)="downloadTicketPDF(eventTicket)">🎟 Scarica Ticket</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Prossimi Eventi in cui Partecipo -->
    <div *ngIf="selectedTab === 'myEventsAsSpeaker'">
      <h2>Prossimi Eventi in cui Partecipo</h2>
      <div class="events-list">
        <div class="event-card2" *ngFor="let event of eventsAsSpeaker">
          <div class="event-image">
            <img [src]="image" alt="{{ event.title }}">
          </div>
          <div class="event-info">
            <h2>{{ event.title }}</h2>
            <p><strong>📅 Data:</strong> {{ event.startDate | date: 'dd/MM/yyyy HH:mm' }}</p>
            <p><strong>📍 Luogo:</strong> {{ event.place }}</p>
            <p class="description">{{ event.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Topics Preferiti (NON ADMIN) -->
    <div *ngIf="selectedTab === 'manageTopics' && user?.role !== 'ADMIN'">
      <h2>Topics Preferiti</h2>
      <p *ngIf="user?.userDetails?.favouriteTopics?.length === 0">Nessun topic preferito</p>
      <div class="topics-list">
        <div class="user-fav-topic-card" *ngFor="let topic of user?.userDetails?.favouriteTopics">
          <p>{{ topic.name }}</p>
          <fa-icon [icon]="faMinus" (click)="removeFavouriteTopic(topic)"></fa-icon>
        </div>
      </div>
      <div class="topics-list">
        <div class="user-unfav-topic-card" *ngFor="let topic of userUnfavTopics">
          <p>{{ topic.name }}</p>
          <fa-icon [icon]="faPlus" (click)="addFavouriteTopic(topic)"></fa-icon>
        </div>
      </div>
    </div>


    <!-- Gestisci Topics (ADMIN) -->
    <div *ngIf="selectedTab === 'manageTopics' && user?.role === 'ADMIN'">
      <h2>Gestisci Topics</h2>
      <div class="filters-container">
        <mat-form-field appearance="outline" class="search-box" floatLabel="auto">
          <mat-label>Cerca topic</mat-label>
          <input
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="topicAuto"
            (keyup)="applyFilter(searchControl.value ?? '')"
          >
          <mat-autocomplete #topicAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="table-wrapper">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome</th>
          <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <div class="padding-bottom"></div>
    </div>
    </div>

    <!-- Gestisci eventi (ADMIN) -->
    <div *ngIf="selectedTab === 'manageEvents' && user?.role === 'ADMIN'">
      <app-events-management></app-events-management>
    </div>

    <!-- Gestisci Host (ADMIN) -->
    <div *ngIf="selectedTab === 'manageHosts' && user?.role === 'ADMIN'">
      <app-host-management></app-host-management>
    </div>

    <!-- Gestisci user (ADMIN) -->
    <div *ngIf="selectedTab === 'manageUsers' && user?.role === 'ADMIN'">
      <app-user-management></app-user-management>
    </div>

    <!-- Impostazioni -->
    <div *ngIf="selectedTab === 'settings'">
      <h2>Impostazioni</h2>
      <div class="settings">
        <div class="settings-user-info">
          <p><strong>Nome:</strong> {{ user?.firstName }}</p>
          <p><strong>Cognome:</strong> {{ user?.lastName }}</p>
          <p><strong>Email:</strong> {{ user?.email }}</p>
        </div>
        <div class="settings-become-speaker">
          <div>
            <h3>Sei uno speaker?</h3>
            <p>Clicca sul pulsante qui sotto per inviare la richiesta!</p>
          </div>
          <mat-checkbox [(ngModel)]="isSpeaker" (change)="toggleSpeaker($event.checked)">
            Diventa Speaker!
          </mat-checkbox>
        </div>
        <div *ngIf="user?.status === 'UNVERIFIED'" class="settings-verify-email">
          <p>Account non ancora verificato</p>
          <button class="verify-email-button" routerLink="/auth/register/step-2">
            Verifica Email
          </button>
        </div>
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>

  <!-- Modale Conferma Ticket -->
  <div class="modal" *ngIf="isConfirmTicketModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h3>Attiva il tuo ticket</h3>
      <p>Premi il pulsante qui sotto per attivare il tuo ticket.</p>
      <button class="confirm-button" (click)="activateTicket()">Attiva Ticket</button>
    </div>
  </div>

  <!-- Modale Annulla Iscrizione -->
  <div class="modal" *ngIf="isRevokeEventModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h3>Sei sicuro di voler annullare l'iscrizione?</h3>
      <p>Premi il pulsante qui sotto per annullare l'iscrizione all'evento.</p>
      <button class="revoke-button" (click)="revokeEvent()">Annulla Iscrizione</button>
    </div>
  </div>
</div>
