.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/registerImage.jpg") no-repeat center center;
  background-size: cover;
}

.register-half,
.register-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 30px;
  width: 30%;
}

h2 {
  font-weight: 300;
  color: #444;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
}

.register {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input {
  width: 250px;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 16px;
}

input:focus {
  border-color: #848484;
  outline: none;
}

button {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50%;
  padding: 8px;
  color: #ffffff;
  background-color: #ce2424;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-size: 0.9rem;
}

button:hover {
  background-color: #ad1919;
}

button:active {
  transform: scale(0.98);
}
a {
  text-decoration: none;
  color: #007bff;
  font-weight: 400;
  cursor: pointer;
  font-size: 0.8rem;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3; /* Colore quando il link è in hover */
}
