a {
    text-decoration: none;
}

.register-types-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

.register-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}

.register-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.register-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 246, 244, 0.7);
    border-radius: 1rem;
}

.register-title a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-size: 0.8rem;
}

.register-title a:hover {
    color: #3a001e;
}

.register-type h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #000000;
    padding: 1rem;
    background: rgba(255, 246, 244, 0.7);
    border-radius: 1rem;
}

.register-type:hover {
    transform: scale(1.5);
    transition: transform 0.5s;
}

.icon {
    color: #3a001e;
}

/* Tablet e dispositivi medi (fino a 1024px) */
@media (max-width: 1023px) {
    .register-types-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .register-type {
        width: 200px;
        margin-top: 20px;
        transform: none !important;
        /* Disattiva l'effetto di zoom */
        transition: none !important;
        /* Disattiva la transizione */
    }

    .register-title {
        font-size: 1.2rem;
        padding: 0.8rem;
    }
}

/* Telefono grande (fino a 768px) */
@media (max-width: 768px) {
    .register-types-container {
        gap: 1rem;
        align-items: center;
    }

    .register-type {
        width: 90%;
        /* Adatta la larghezza al contenitore */
        max-width: 250px;
        text-align: center;
        margin-top: 15px;
    }

    .register-title {
        font-size: 1rem;
        padding: 0.6rem;
    }
}

/* Telefono piccolo (fino a 480px) */
@media (max-width: 480px) {
    .register-types-container {
        align-items: center;
        min-height: 667px;
    }

    .register-type {
        width: 100%;
        /* Occupa tutta la larghezza disponibile */
        max-width: 220px;
        margin-bottom: 0px;

    }

    .register-type h3 {
        font-size: 1.5rem;
        text-align: center;
        color: #000000;
        background: rgba(255, 246, 244, 0.7);
        border-radius: 1rem;
        padding: 0px;
    }

    .register-title {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}