<div class="page-header">
    <h1>I nostri partner</h1>
    <p>Scopri le aziende con cui collaboriamo. Ognuna di queste realtà è un punto di riferimento nel proprio settore e contribuisce al nostro successo.</p>
</div>

<div class="partner-container">
    @for (company of partnerCompanies; track company) {
        
        <div  class="partner-card" (click)="goToCompany(company.id)">
            <img [src]="company.logoUrl" alt="{{ company.name }}">
            <h3>{{ company.name }}</h3>
            <p>{{ company.description }}</p>
            <button>Scopri di più</button>
        </div>
    }

</div>
