<div class="filters-container">
  <!-- Title filter with autocomplete -->
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Cerca titolo</mat-label>
    <input
      matInput
      [matAutocomplete]="titleAuto"
      [formControl]="titleSearchControl"
      (keyup)="applyTitleFilter()"
      [matAutocompletePosition]="'above'"
    >
    <mat-autocomplete #titleAuto="matAutocomplete">
      <mat-option *ngFor="let title of filteredTitleOptions | async" [value]="title">
        {{ title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Host filter with autocomplete -->
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Cerca host</mat-label>
    <input
      matInput
      [matAutocomplete]="hostAuto"
      [formControl]="hostSearchControl"
      (keyup)="applyHostFilter()"
      [matAutocompletePosition]="'above'"
    >
    <mat-autocomplete #hostAuto="matAutocomplete">
      <mat-option *ngFor="let host of filteredHostOptions | async" [value]="host">
        {{ host }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titolo </th>
    <td mat-cell *matCellDef="let event"> {{ event.title }} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Data Partenza </th>
    <td mat-cell *matCellDef="let event"> {{ event.startDate | date }} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> Data Fine </th>
    <td mat-cell *matCellDef="let event"> {{ event.endDate | date }} </td>
  </ng-container>

  <ng-container matColumnDef="place">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let event"> {{ event.place }} </td>
  </ng-container>

  <ng-container matColumnDef="maxParticipants">
    <th mat-header-cell *matHeaderCellDef> Partecipanti Massimi </th>
    <td mat-cell *matCellDef="let event"> {{ event.maxPartecipants === 0 ? 'Infiniti' : event.maxPartecipants }} </td>
  </ng-container>

  <ng-container matColumnDef="host">
    <th mat-header-cell *matHeaderCellDef> Ospitata da </th>
    <td mat-cell *matCellDef="let event"> {{ event.host }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Azioni </th>
    <td mat-cell *matCellDef="let event">
      <button mat-button color="warn" (click)="openDeleteModal(event.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<!-- Custom Delete Modal -->
<div class="delete-modal-overlay" *ngIf="isDeleteModalOpen">
  <div class="delete-modal-content mat-elevation-z8">
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete this event?</p>
    <div class="modal-actions">
      <button mat-button (click)="closeDeleteModal()">Cancel</button>
      <button mat-button color="warn" (click)="confirmDelete()">Yes, Delete</button>
    </div>
  </div>
</div>
