/* Add your component-specific styles here */

/* Example styling: */
h1[mat-dialog-title] {
  font-size: 20px;
  margin: 0;
}

[mat-dialog-content] {
  margin: 20px 0;
}

[mat-dialog-actions] {
  display: flex;
  justify-content: flex-end;
}

button[mat-button] {
  margin-left: 10px;
}
