<div class="user-area-container">
    <div class="history-section">
        <h3>
            Storico Partecipazioni
        </h3>
        <div class="history-grid">
            <div class="history-card" [@scaleIn]>
                <div class="event-image"></div>
                <div class="event-info">
                    <h4>Nome Evento</h4>
                    <p><strong>Data:</strong> 10 Gen 2025</p>
                    <p><strong>Luogo:</strong> Torino</p>
                    <p><strong>Ora:</strong> </p>
                    <p><strong>Relatore:</strong> Luca Verdi</p>
                </div>
            </div>
            <div class="history-card" [@scaleIn]>
                <div class="event-image"></div>
                <div class="event-info">
                    <h4>Nome Evento</h4>
                    <p><strong>Data:</strong> 10 Gen 2025</p>
                    <p><strong>Luogo:</strong> Torino</p>
                    <p><strong>Ora:</strong> </p>
                    <p><strong>Relatore:</strong> Luca Verdi</p>
                </div>
            </div>
            <div class="history-card" [@scaleIn]>
                <div class="event-image"></div>
                <div class="event-info">
                    <h4>Nome Evento</h4>
                    <p><strong>Data:</strong> 10 Gen 2025</p>
                    <p><strong>Luogo:</strong> Torino</p>
                    <p><strong>Ora:</strong> </p>
                    <p><strong>Relatore:</strong> Luca Verdi</p>
                </div>
            </div>
        </div>
    </div>
</div>