.wizard-nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.wizard-nav-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.wizard-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.wizard-nav-item::before {
  content: '';
  position: absolute;
  top: 20px;
  height: 2px;
  background-color: #ce2424;
  z-index: -1;
}

.wizard-nav-item.active::before {
  background-color: #28a745;
}

.wizard-nav-item:first-child::before {
  display: none;
}

.wizard-nav-item-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ce2424;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.wizard-nav-item.active .wizard-nav-item-circle {
  background-color: #28a745;
}

.wizard-nav-item p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #f0f0f0;
  text-align: center;
  max-width: 100px;
}

.wizard-nav-container[data-user-choice='user'] .wizard-nav-item::before {
  width: 700%;
  left: -670%;
}

.wizard-nav-container[data-user-choice='user'] .wizard-nav-item:last-child::before {
  width: 950%;
  left: -880%;
}

.wizard-nav-container[data-user-choice='host'] .wizard-nav-item::before {
  width: 330%;
  left: -300%;
}

.wizard-nav-container[data-user-choice='host'] .wizard-nav-item:last-child::before {
  width: 450%;
  left: -400%;
}
